* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    background-color: lightseagreen;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.header .profile-section {
    display: flex;
    gap: 12px;
}

.header #header-profile-image {
    border-radius: 50%;
}
.header .profile-section .profile {
    display: flex;
    flex-direction: column;
}
.header .profile .header-profile-name {
    color: white;
    text-align: center;

}
.header .profile .profile-button {
    display: flex;
    place-items: center;
    gap: 4px;
    background-color: white;
    border-radius: 20px;
    padding: 4px;
}
.header .profile .profile-button i{
    color: white;
    background-color: lightseagreen;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    display: flex;
    place-items: center;
    justify-content: center;
}
.header .profile .profile-button .header-content {
    color: lightseagreen;
    font-weight: bolder;
    display: inline-block;
}

.header .icon {
    font-size: xx-large;
    color: white;
    display: flex;
    gap: 8px;
}

.body,
.myBkash-section,
.suggestion-section {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 20px;
    padding: 8px;
    background-color: aliceblue;
}
.body .body-items,
.myBkash-items,
.suggestion-items {
    text-align: center;
}

.body .body-items i,
.myBkash-items i ,
.suggestion-items i{
    font-size: xx-large;
    font-weight: lighter;
    margin-bottom: 12px;
}
.body .body-items .body-content,
.myBkash-items .myBkash-content ,
.suggestion-items .suggestion-content{
    color: gray;
}

.myBkash .header-section,
.suggestion-header-section {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.myBkash .header-section .myBkash-header,
.suggestion-header-section .suggestion-header {
    font-size: large;
    color: gray;
    font-weight: bold;
}
.myBkash .header-section i,
.suggestion-header-section i{
    font-size: x-large;
    color: gray;
}
